In [1]:
import pandas as pd
import matplotlib as md

In [2]:
bikes =pd.read_csv("/Users/nikarora/Desktop/sql and tablue project/london_merged.csv")
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [22]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [23]:
bikes.shape

(17414, 10)

In [24]:
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [3]:
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [4]:
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [5]:
# specific the column name that I like to see as:
new_column_dict= {
    'timestamp':'time',
    'cnt':'count',
    't1': 'temp_real_C',
    't2':'temp_feels_like_C',
    'hum': 'humidity_percentage',
    'wind_speed':'wind_speed_kmph',
    'weather_code': 'weather',
    'is_holiday': 'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
    }

In [6]:
# Rename the headers of the table to my specific name:
bikes.rename(new_column_dict, axis=1 ,inplace=True)

In [7]:
bikes

,time,count,temp_real_C,temp_feels_like_C,humidity_percentage,wind_speed_kmph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [8]:
# converting the humidity values to actual percebtage values :
bikes.humidity_percentage= bikes.humidity_percentage/100

In [9]:
# creating the season dictories so, that wev can map the intergers 0-3 to the actual written values: 
season_dict = {
    '0.0': 'spring',
    '1.0':  'summer',
    '3.0':  'autumn',
    '2.0':  'winter'
}

season_dict

{'0.0': 'spring', '1.0': 'summer', '3.0': 'autumn', '2.0': 'winter'}

In [10]:
weather_dict = {
    '1.0': 'clear',
    '2.0': 'scattered',
    '3.0': 'broken_clouds',
    '4.0': 'cloudy',
    '7.0':' rain',
    '26.0': 'snowfall',
    '10.0':  'thunderstorm'
}

weather_dict

{'1.0': 'clear',
 '2.0': 'scattered',
 '3.0': 'broken_clouds',
 '4.0': 'cloudy',
 '7.0': ' rain',
 '26.0': 'snowfall',
 '10.0': 'thunderstorm'}

In [11]:
# changing the seasons column data type to string:
bikes.season =bikes.season.astype('str')

# changing the queries or the values that we wrote above to some other values :

bikes.weather= bikes.weather.astype('str')

In [12]:
# implementing the values that changed for the season and weather into main csv file:
bikes.season= bikes.season.map(season_dict)

bikes.weather= bikes.weather.map(weather_dict)

In [14]:
bikes

,time,count,temp_real_C,temp_feels_like_C,humidity_percentage,wind_speed_kmph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,broken_clouds,0.0,1.0,autumn
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,clear,0.0,1.0,autumn
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,clear,0.0,1.0,autumn
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,clear,0.0,1.0,autumn
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,clear,0.0,1.0,autumn
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,broken_clouds,0.0,0.0,autumn
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,cloudy,0.0,0.0,autumn
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,cloudy,0.0,0.0,autumn
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,cloudy,0.0,0.0,autumn
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,scattered,0.0,0.0,autumn

In [16]:
# writing the final datafram to excel file that we will use for tableu:

# bikes.to_excel('london_merged.final_1.xlsx', sheet_name='data')


bikes.to_excel('london_merged.final_1.xlsx', sheet_name= 'Data1')